// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
  margin: 2rem 4rem;
}