.post-factory {
  display: flex;
  flex-direction: column;

  &__content-wrapper {
    width: 60vw;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: $medium-gap;
  }
}

.post-input {
  display: flex;
  flex-direction: column;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
