.rounded {
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
  margin: 2rem 4rem;
}